.team {   
    margin-bottom: 120px;
    text-align: center;
    @include tablet{
        margin-bottom: 100px;
    }
    @include tablet-small{
        margin-bottom: 70px;
    }
    @include mobile{
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 480px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        text-align: center;
        @include tablet{
            grid-template-columns: repeat(2, 1fr);
        }
        @include mobile{
            grid-template-columns: 1fr;
        }
    }
    &__card {
        background: $lg-card;
        box-shadow: 0px 22px 18px $shadow;
        border-radius: 34px;
        border: 1px solid $border;
        padding: 32px 20px 35px;        
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: minmax(90px, auto) 1fr 1fr auto;
        @include mobile{
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr 1fr auto;
            column-gap: 10px;
            padding: 15px;
        }
    }
    &__card-img {
        margin-bottom: 11px;
        width: 90px;
        height: 90px;
        box-shadow: 0px 22px 18px $shadow;
        border-radius: 55px;
        transform: rotate(-4.08deg);
        justify-self: center;
        position: relative;
        perspective: 1000px;
        cursor: pointer;
        & .front, & .back {
            position: absolute;            
            left: 0;
            top: 0;
            object-fit: cover;
            transition: 1s;
            backface-visibility: hidden;
        }        
        & .back {                     
            box-shadow: 0px 22px 18px $shadow;            
            transform: rotateY(180deg);
        }        
        &:hover .front {transform: rotateY(180deg);}
        &:hover .back {transform: rotateY(360deg);}
        
        @include mobile{
            grid-row-start: 1;
            grid-row-end: -1;
            align-self: center;
            margin: 0;
            transform: rotate(0deg);            
        }       
    }
    
    
    &__card-name {
        margin-bottom: 7px;
        @include text($ff, 500, 2.8rem, 3.6rem, $white); 
        @include mobile{
            font-size: 1.8rem;
            line-height: 2.4rem;
        }    
    }
    &__card-prof {
        margin-bottom: 11px;
        @include text($ff, 400, 1.6rem, 2.1rem, $white); 
        text-transform: uppercase;
        @include mobile{
            font-size: 1.6rem;
            line-height: 2rem;
        }    
    }
    &__card-social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        & a{
            transition: $transition;
        }        
        & a:hover{
            scale: 1.2;            
        }
    }
}